h1
{
font-family: monaco,Consolas,"Lucida Console",monospace;
font-size: 14px;
color: white;	
}

h2
{
text-align: center;
font-family: monaco,Consolas,"Lucida Console",monospace;
font-size: 18px;
color: white;
}

body
{
	font-family: monaco,Consolas,"Lucida Console",monospace;
	font-size: 11px;
	background-color: #d3ffce;
}
div {
    width: 1200px;
    border: 2px dotted black;
}