h1
{
font-family: 'Quicksand', sans-serif;
font-size: 18px;
color: #707070;	
}

h2
{
text-align: center;
font-family: 'Quicksand', sans-serif;
font-size: 20px;
color: #707070;
}

body
{
font-family: 'Quicksand', sans-serif;	font-size: 11px;
	background-color: #E0FFE0;
}
/*div {
    width: 1200px;
    border: 2px dotted black;
}*/

/* unvisited link */
a:link {
    color: #000066;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000066;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #0000FF;
    text-decoration: none;
}

#navbar{
    text-align: right;
}