h1
{
font-family: 'Quicksand', sans-serif;
font-size: 18px;
color: #707070;	
}

h2
{
text-align: center;
font-family: 'Quicksand', sans-serif;
font-size: 20px;
color: #707070;
}

h3 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h3 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h3 span.spacer {
   padding:0 5px;
}

body
{
font-family: 'Quicksand', sans-serif;	font-size: 11px;
	background-color: #E0FFE0;
}
<<<<<<< HEAD
div {
    width: 800px;
}
=======
/*div {
    width: 1200px;
    border: 2px dotted black;
}*/
>>>>>>> origin/master

/* unvisited link */
a:link {
    color: #6aec9a;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #6aec9a;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #6aec9a;
    text-decoration: none;
}

#navbar{
    float: right;
}

li{
        display: inline;

}

.image { 
  display: center;
   position: relative; 
   width: 100%; /* for IE 6 */
}